<h1 >I'm Tom Rasmussen.</h1>
<h4>I'm an aspiring web developer, who is comfortable digging around in the depths of a computer, whether it be hardware or software. I have built my own computers since I was 15, and I built my first website when I was in the 7th grade.</h4>
If you have any questions, please feel free to contact me through one of the methods below.
<hr />
<ul class="social">
	<li><a href="https://github.com/Ramzie/Portfolio"><i class="fa fa-github"></i></a></li>
	<li><a href="https://www.linkedin.com/in/tomras"><i class="fa fa-linkedin"></i></a></li>
	<li><a href="https://twitter.com/tcras07"><i class="fa fa-twitter"></i></a></li>
	<li><a href="https://instagram.com/tcras07"><i class="fa fa-instagram"></i></li>
</ul>