body{
	background: url("/pictures/bg.jpg") no-repeat top center;
	background-size: cover;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}

/* Header */
header{
	font-family: 'montserratregular';
	position: relative;
	height: 703px;
	width: 100%;
}

a, a:visited{
	text-decoration: none;
	outline: 0;
	color: #fff;
}

/* Navigation bar */
.navbar{
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	position: fixed;
	left: 0;
	top: 0;
	text-align: right;
}
.navbar ul {
	width: 10%;
	float : right;
}
.navbar li {
	display: inline-block;
	list-style: none;
	float: left;
	padding-left: 5%;
	padding-right: 5%;
}
.navbar li a:hover { color: #11ABB0;}

.mainwindow{
	position: relative;
	width: 45%;
	height: 600px;
	color:white;
	top: 10%;
	left: 25%;
	text-align: center;
	padding-left:5em;
	padding-right: 5em;
}

.social {
	font-family: 'montserratregular';
	margin: 24px 0;
	padding: 0;
	font-size: 30px;
	text-shadow: 0px 1px rgba(0, 0, 0, .8);
}

.social li{
	display: inline-block;
}

.social li a { color: #fff;}
.social li a:hover { color: #11ABB0;}

/* Gallery */
img {
  width : 80px;
  height : 80px;
}

.gallery{
	position: relative;
	top: 0px;
	left: -80px;
	float: left;
  padding-left:0;
  padding-right: 0;
  width:80px;
  height:427px;
}

.embiggen{
	position: absolute;
	top: 0px;
	left: 80px;
	border: 1px solid white;
	width: 640px;
	height: 427px;
}

.gallerydiv{
	position:absolute;
	top: 430px;
	left:0px;
	width:720px;
}