/* Styles go here */
.menubar{
	position: absolute ;
  left: 0px;
  width: 200px;
	background-color: grey;

}

.mainwindow{

	background-color: blue;
	color:white;

}

div{

	text-align: center;

}
.foo{
	width: 155px;
	height: 155px;
	background-image: url(http://media.blizzard.com/wow/renders/npcs/grid/creature47841.jpg);
	
}

.temp{
	background-color: blue;
}

img {
				float:right;
        width : 80px;
        height : 80px;
        margin:0 auto;
        display:inline-block;
}

.embiggen{
	width: 800px;
	height: 800px;
}